*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#wrap{
    width:100%;
    min-width:800px;
    position:relative;
}
#header{
    width:100%;
    padding:20px;
    position:relative;
}
#header_left .font{
    position:relative;
    padding-bottom: 200px;
}
#header_right .font{
    padding-left: 1700px;
    padding-bottom: 800px;

}