*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style-type: none;
}
#wrap{
   
    
   
}
#top{
    padding: 20px;
    position: relative;
    border-bottom: 1px solid #d2d8e2;
   
    
}
#top .papago_image{ 
    background:url(./image/papago.ico) no-repeat;
    width:50px;
    height:70px;
    background-size:cover;
    padding: 0 0 0 20px;
    position: relative;
}


.papago_name{
    position: relative;
    
}
.moon{
    border-right: 1px solid #d2d8e2;
    padding-right: 10px;
}
.web{
    position: relative;
    padding-left: 10px;
}