*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrap{
    width: 100%;
    
}
#세모부{
    text-align: center;
    padding-top: 15px;
}
.line{
    border-bottom: 1px solid skyblue;
    padding-top: 15px;
}
#topba{
    text-align: center;
    padding-top: 5px;
}
#middle ba{
    width: 100%;
}
.roomba{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    
   
   
 
    
}
.room{
    width: 25%;
    width: 300px;
    height: 400px;
    
    background: rgb(17, 49, 231);
    border: 1px solid;
    
    

    
    


}

